<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jeeweb.modules.test.mapper.TestTreeMapper" >

	<sql id="Base_Column_List" >
		t.id,
		t.name,
		t.parent_id,
		t.parent_ids,
		t.parent_id AS parent_id,
		p.name AS parent_name,
	    t.remarks,
	    t.create_by AS 'createBy.id',
	    t.create_date,
	    t.update_by AS 'updateBy.id',
	    t.update_date,
	    t.del_flag,
	   (select count(*) from test_tree s
		WHERE s.parent_id=t.id) as
		hasChildren
	</sql>
	<sql id="parentJoins">
		LEFT JOIN test_tree p ON p.id = t.parent_id
	</sql>
    <!-- 查找通过ID查找树信息 -->
	<select id="selectByTreeId" resultType="TestTree"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from test_tree t
		<include refid="parentJoins" />
		where t.id = #{id,jdbcType=VARCHAR}
	</select>
	
	<!-- 查找树列表 -->
	<select id="selectTreeList" resultType="TestTree">
		select
		<include refid="Base_Column_List" />
		from test_tree t
		<include refid="parentJoins" />
		<where>
			${ew.sqlSegment}
		</where>
	</select>

	<!-- 更新子树 -->
	<update id="updateSunTreeParentIds">
		update test_tree set parent_ids=
		CONCAT(#{newParentIds},substring(parent_ids,
		length(#{oldParentIds})+1,length(parent_ids)+1))
		where parent_ids like concat(#{oldParentIds}, '%')
	</update>
	
	<!-- 删除子树 -->
	<delete id="deleteSunTree" parameterType="java.lang.String">
		delete from test_tree
		where parent_ids like concat(#{oldParentIds}, '%')
	</delete>
  
</mapper>