<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
      http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
      http://www.springframework.org/schema/context  
      http://www.springframework.org/schema/context/spring-context.xsd  
      http://www.springframework.org/schema/aop 
	  http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
      http://www.springframework.org/schema/mvc  
      http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

	<!--工作流配置 开始 -->
	<bean id="processEngineConfiguration" class="org.activiti.spring.SpringProcessEngineConfiguration">
		<property name="dataSource" ref="publicDataSource" />
		<property name="transactionManager" ref="transactionManager" />
		<property name="databaseSchemaUpdate" value="true" />
		<property name="jobExecutorActivate" value="false" />
		<property name="history" value="full" />
		<property name="enableDatabaseEventLogging" value="false" />
		<property name="databaseType" value="mysql" />
		<!-- 自定义表单字段类型 -->
		<!-- <property name="customFormTypes"> <list> <bean class="com.iss.itreasury.workflow.form.UsersFormType"/> 
			</list> </property> -->
		<!-- 生成流程图的字体 宋体=\u5B8B\u4F53 -->
		<property name="activityFontName" value="\u5B8B\u4F53" />
		<property name="labelFontName" value="\u5B8B\u4F53" />
	</bean>

	<!-- 事务管理器配置, 单数据源事务 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="publicDataSource" />
	</bean>

	<bean id="processEngine" class="org.activiti.spring.ProcessEngineFactoryBean">
		<property name="processEngineConfiguration" ref="processEngineConfiguration" />
	</bean>

	<bean id="repositoryService" factory-bean="processEngine"
		factory-method="getRepositoryService" />
	<bean id="runtimeService" factory-bean="processEngine"
		factory-method="getRuntimeService" />
	<bean id="formService" factory-bean="processEngine"
		factory-method="getFormService" />
	<bean id="identityService" factory-bean="processEngine"
		factory-method="getIdentityService" />
	<bean id="taskService" factory-bean="processEngine"
		factory-method="getTaskService" />
	<bean id="historyService" factory-bean="processEngine"
		factory-method="getHistoryService" />
	<bean id="managementService" factory-bean="processEngine"
		factory-method="getManagementService" />

	<bean class="com.isoftstone.cms.workflow.util.ActivtiManager"
		init-method="initMethod" lazy-init="false">
		<property name="repositoryService" ref="repositoryService" />
		<property name="runtimeService" ref="runtimeService" />
		<property name="formService" ref="formService" />
		<property name="identityService" ref="identityService" />
		<property name="taskService" ref="taskService" />
		<property name="historyService" ref="historyService" />
		<property name="managementService" ref="managementService" />
	</bean>
	<!--工作流配置 结束 -->

</beans>